<!-- list -->
<ul class="nav">
	<!--Entry-->
	<li class="hidden-folded padder m-t m-b-sm text-muted text-xs" ng-if="!isAdmin()">
		<span translate="aside.nav.ENTRY">Entry</span>
	</li>
	<li ui-sref-active="active" ng-if="!isAdmin() && isApproved()">
		<a ui-sref="app.mall">
			<i class="glyphicon glyphicon-shopping-cart icon"></i>
			<span class="font-bold" translate="aside.nav.MALL">Mall</span>
		</a>
	</li>
	<li ng-class="{active:$state.includes('app.agency')}" ng-if="!isAdmin() && isApproved()">
		<a ui-sref="app.agency">
			<i class="glyphicon glyphicon-briefcase icon"></i>
			<span class="font-bold" translate="aside.nav.AGENCY">Agency</span>
		</a>
	</li>
	<li ui-sref-active="active" ng-if="!isAdmin() && isApproved()">
		<a ui-sref="app.brand">
			<i class="glyphicon glyphicon-star icon"></i>
			<span class="font-bold">品牌公司</span>
		</a>
	</li>
	
	<li class="line dk hidden-folded"></li>

	<!--General-->
	<li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
		<span translate="aside.nav.GENERAL">General</span>
	</li>
	<li ui-sref-active="active">
		<a ui-sref="app.page.profile">
			<i class="icon-user icon text-success-lter"></i>
			<span translate="aside.nav.YOUR_PROFILE">Your profile</span>
		</a>
	</li>
	<li ui-sref-active="active" ng-if="!isAdmin()">
		<a ui-sref="app.system.price">
			<i class="icon-wallet icon"></i>
			<span translate="aside.nav.PRICE">Price</span>
		</a>
	</li>	

	<!--Admin-->
	<li class="hidden-folded padder m-t m-b-sm text-muted text-xs" ng-if="isAdmin()">
		<span>管理员</span>
	</li>
	<li ui-sref-active="active" ng-if="isAdmin()">
		<a ui-sref="app.admin.checkUser">
			<i class="icon-user-following icon"></i>
			<span>用户审核</span>
		</a>
	</li>
</ul>
<!-- / list -->