<div class="bg-light lter b-b wrapper-md" ng-init="app.fullScreen = false;">
	<h1 class="m-n font-thin h3">
		用户审核
	</h1>
</div>
<div class="wrapper-md" ng-controller="AdminCheckUserCtrl">
	<tabset class="tab-container">
		<tab>
			<tab-heading>
				品牌<span class="badge  badge-sm m-l-xs" ng-class="{'bg-danger': brandAgentItems.length != 0}">{{brandAgentItems.length}}</span>
			</tab-heading>
			<accordion close-others="oneAtATime">
				<accordion-group is-open="status.open" ng-repeat="item in brandAgentItems">
					<accordion-heading>
						{{item.username}}/{{item.email}}
						<i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
					</accordion-heading>
					<div>用户名: {{item.username}}</div>
					<div>邮箱: {{item.email}}</div>
					<br/>
					<div>
						<button class="btn btn-sm btn-success" ng-click="approve(item, brandAgentItems)">通过</button>
						<button class="btn btn-sm btn-danger"  ng-click="reject(item, brandAgentItems)">拒绝</button>
					</div>
				</accordion-group>
			</accordion>
		</tab>
		<tab>
			<tab-heading>
				经销商 <span class="badge badge-sm m-l-xs"  ng-class="{'bg-danger': salesAgentItems.length != 0}">{{salesAgentItems.length}}</span>
			</tab-heading>
			<accordion close-others="oneAtATime">
				<accordion-group is-open="status.open" ng-repeat="item in salesAgentItems">
					<accordion-heading>
						{{item.username}}/{{item.email}}
						<i class="pull-right fa fa-angle-right" ng-class="{'fa-angle-down': status.open, 'fa-angle-right': !status.open}"></i>
					</accordion-heading>
					<div>用户名: {{item.username}}</div>
					<div>邮箱: {{item.email}}</div>					
					<br/>
					<div>
						<button class="btn btn-sm btn-success" ng-click="approve(item, salesAgentItems)">通过</button>
						<button class="btn btn-sm btn-danger"  ng-click="reject(item, salesAgentItems)">拒绝</button>
					</div>
				</accordion-group>
			</accordion>
		</tab>
		<tab>
			<tab-heading>
				卖场 <span class="badge bg-default badge-sm m-l-xs">0</span>
			</tab-heading>
			<ul class="list-group list-group-alt list-group-lg no-borders pull-in m-b-none">				

			</ul>
		</tab>
	</tabset>
</div>