<div class="hbox hbox-auto-xs hbox-auto-sm" ng-init="app.fullScreen = false;" ui-view>
	<!-- main -->
	<div class="col">
		<!-- main header -->
		<div class="bg-light lter b-b wrapper-md">
			<div class="row">
				<div class="col-sm-6 col-xs-12">
					<h1 class="m-n font-thin h3 text-black"  translate="aside.nav.AGENCY">Agency</h1>
				</div>
				<div class="col-sm-6 text-right hidden-xs">

				</div>
			</div>
		</div>
		<!-- / main header -->
		<div class="wrapper-md">
			<!-- stats -->
			<div class="row">
				<div class="col-md-12">
					<div class="row row-sm text-center" ng-if="!isApproved()">						
						<div class="col-xs-3">
							<a href class="block tile panel padder-v bg-default item">
								<span class="font-thin h2 block">账号审核中...</span>
							</a>
						</div>
					</div>
					<!--
					<div class="row row-sm text-center">
						<div class="col-xs-3" ng-if="isSalesAgent() && isApproved()">
							<a href class="block tile panel padder-v bg-info item">
								<span class="text-white font-thin h2 block" translate='agency.MANAGE'></span>
								<span class="bottom text-right w-full">
									<i class="fa fa-bars text-muted m-r-sm"></i>
								</span>
							</a>
						</div>
					</div>
					-->
					<div ng-controller="AgencyListCtrl">
						<form ng-submit="searchAgency(searchKey)" class="m-b-md">
							<div class="input-group">
								<input type="text" class="form-control input-lg" ng-model='searchKey' placeholder="搜索经销商">
								<span class="input-group-btn">
									<button class="btn btn-lg btn-default">搜索经销商</button>
								</span>
							</div>
						</form>
						<div class="row">
							<div class="col-xs-6 col-sm-3" ng-repeat="item in agencyList | filter:searchKey">
								<div class="thumbnail" >
									<img style='width:100%' src="{{item.logo}}" />
									<div class="caption text-center">
										<a  ui-sref="app.agency.detail({agencyId:item.id})" class="h4 text-primary m-b-sm m-t-sm block" role="button">{{item.name}}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- / stats -->
		</div>
	</div>
	<!-- / main -->
</div>