<div class="bg-light lter b-b wrapper-md">
	<h1 class="m-n font-thin h3">
		<a ui-sref="app.brand">
			<i class="icon-arrow-left i-sm m-r-sm"></i>
		</a>
		品牌管理
	</h1>
</div>
<!-- / main header -->

<div class="hbox hbox-auto-xs hbox-auto-sm bg-light" ng-init="app.fullScreen = true;" ng-controller="BrandManageCtrl">
	<!-- column -->
	<div class="col w-lg lter b-r">
		<div class="vbox">
			<div class="wrapper-xs b-b">
				<!-- <div class="input-group m-b-xxs text-center">
					<span class="input-group-addon input-sm no-border no-bg"><i class="icon-magnifier text-md m-t-xxs"></i></span>
					<input type="text" class="form-control input-sm no-border no-bg text-md" placeholder="搜索" ng-model="query">
				</div> -->
				<div class="text-center m-b-xxs">
					<a href class="btn btn-sm btn-default btn-addon" ng-click="createItem()"><i class="fa fa-plus fa-fw m-r-xs"></i> 创建品牌</a>
				</div>
			</div>

			<div class="row-row">
				<div class="cell scrollable hover">
					<div class="cell-inner">
						<div class="m-t-n-xxs">
							<div class="list-group list-group-lg no-radius no-border no-bg m-b-none">
								<a ng-repeat="item in items | filter:{group:filter} | filter:query | orderBy:'first'" class="list-group-item m-l" ng-class="{'select m-l-none': item.selected }" ng-click="selectItem(item)">
									<span class="block text-ellipsis m-l-n text-md" ng-class="{'m-l-none': item.selected }">
										<strong>{{ item.name }}</strong>
										<span ng-hide="item.name">暂无名称</span>
									</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
	<!-- /column -->

	<!-- column -->
	<div class="col bg-white-only">
		<div class="vbox">
			<div class="wrapper-sm b-b">
				<div class="m-t-n-xxs m-b-n-xxs m-l-xs">
					<a class="btn btn-xs btn-default pull-right" ng-hide="!item" ng-click="deleteItem(item)"><i class="fa fa-times"></i></a>
					<a class="btn btn-xs btn-default" ng-hide="item.editing" ng-click="editItem(item)">编辑</a>
					<a class="btn btn-xs btn-default" ng-show="item.editing" ng-click="doneEditing(item)">完成</a>
				</div>
			</div>
			<div class="row-row">
				<div class="cell">
					<div class="cell-inner">
						<div class="wrapper-lg">
							<form name="form" class="form-validation form-horizontal">                  
								<div class="form-group">
									<label class="col-sm-2 control-label">品牌名称</label>
									<div class="col-sm-10">
										<p class="form-control-static" ng-hide="item.editing">{{item.name}}</p>
										<input type="text" class="form-control" ng-show="item.editing" ng-model='item.name' required>
									</div>
								</div>
								<div class="line line-dashed b-b line-lg pull-in"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label">品牌描述</label>
									<div class="col-sm-10">
										<p class="form-control-static" ng-hide="item.editing">{{item.description}}</p>
										<input type="text" class="form-control"  ng-show="item.editing" ng-model='item.description' required>
									</div>
								</div>
								<div class="line line-dashed b-b line-lg pull-in"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label">产品风格</label>
									<div class="col-sm-10">
										<p class="form-control-static" ng-hide="item.editing">{{item.style}}</p>
										<input type="text" class="form-control"  ng-show="item.editing" ng-model='item.style' required>
									</div>
								</div>
								<div class="line line-dashed b-b line-lg pull-in"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label">产品材料</label>
									<div class="col-sm-10" ui-module="select2">
										<p class="form-control-static" ng-hide="item.editing">{{item.matieral.join(', ')}}</p>
										<select multiple  ng-show="item.editing" ui-select2 ng-model='item.matieral' class="form-control">
											<option ng-repeat="item in app.materialList" value="{{item.id}}">{{item.name}}</option>
										</select>
									</div>
								</div>
								<div class="line line-dashed b-b line-lg pull-in"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label">产品线</label>
									<div class="col-sm-10"  ui-module="select2">
										<p class="form-control-static" ng-hide="item.editing">{{item.category.join(', ')}}</p>
										<select multiple  ng-show="item.editing" ui-select2 ng-model='item.category' class="form-control">
											<option ng-repeat="item in app.categoryList" value="{{item.id}}">{{item.name}}</option>
										</select>
									</div>
								</div>
								<div class="line line-dashed b-b line-lg pull-in"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label">工厂</label>
									<div class="col-sm-10">
										<p class="form-control-static" ng-hide="item.editing">{{item.factory}}</p>
										<input type="text" class="form-control"  ng-show="item.editing" ng-model='item.factory' required>
									</div>
								</div>
								<div class="line line-dashed b-b line-lg pull-in"></div>
								<!-- <div class="form-group">
									<label class="col-sm-2 control-label">品牌Logo</label>
									<div class="col-sm-10">
										<img ng-src="{{item.logo}}" ng-show="item.logo || !item.editing">
										<input ui-jq="filestyle" type="file" ng-show="item.editing" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
									</div>
								</div> 
								<div class="line line-dashed b-b line-lg pull-in"></div>-->
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /column -->
</div>