	<div class="bg-light lter b-b wrapper-md">
		<h1 class="m-n font-thin h3">
			<a ui-sref="app.brand">
				<i class="icon-arrow-left i-sm m-r-sm"></i>
			</a>
			品牌管理
		</h1>
	</div>
	<!-- / main header -->

	<div class="hbox hbox-auto-xs hbox-auto-sm bg-light" ng-init="app.fullScreen = true;" ng-controller="BrandManageCtrl">
		<!-- column -->
		<div class="col w-lg lter b-r">
			<div class="vbox">
				<div class="wrapper-xs b-b">
					<div class="input-group m-b-xxs">
						<span class="input-group-addon input-sm no-border no-bg"><i class="icon-magnifier text-md m-t-xxs"></i></span>
						<input type="text" class="form-control input-sm no-border no-bg text-md" placeholder="搜索" ng-model="query">
					</div>
				</div>
				<div class="row-row">
					<div class="cell scrollable hover">
						<div class="cell-inner">
							<div class="m-t-n-xxs">
								<div class="list-group list-group-lg no-radius no-border no-bg m-b-none">
									<a ng-repeat="item in items | filter:{group:filter} | filter:query | orderBy:'first'" class="list-group-item m-l" ng-class="{'select m-l-none': item.selected }" ng-click="selectItem(item)">
										<span class="block text-ellipsis m-l-n text-md" ng-class="{'m-l-none': item.selected }">
											{{ item.first }} <strong>{{ item.last }}</strong>
											<span ng-hide="item.first || item.last">No Name</span>
										</span>
									</a>
								</div>
							</div>
							<div class="text-center pos-abt w-full" style="top:50%;" ng-hide="(items | filter:{group:filter} | filter:query).length">没有相关品牌</div>
						</div>
					</div>
				</div>
				<!-- <div class="wrapper b-t text-center">
					<a href class="btn btn-sm btn-default btn-addon" ng-click="createItem()"><i class="fa fa-plus fa-fw m-r-xs"></i> New Contact</a>
				</div> -->
			</div>
		</div>
		<!-- /column -->

		<!-- column -->
		<div class="col bg-white-only">
			<div class="vbox">
				<div class="wrapper-sm b-b">
					<div class="m-t-n-xxs m-b-n-xxs m-l-xs">
						<a class="btn btn-xs btn-default pull-right" ng-hide="!item" ng-click="deleteItem(item)"><i class="fa fa-times"></i></a>
						<a class="btn btn-xs btn-default" ng-hide="item.editing" ng-click="editItem(item)">编辑</a>
						<a class="btn btn-xs btn-default" ng-show="item.editing" ng-click="doneEditing(item)">完成</a>
					</div>
				</div>
				<div class="row-row">
					<div class="cell">
						<div class="cell-inner">
							<div class="wrapper-lg">
								<div class="hbox h-auto m-b-lg">
									<div class="col text-center w-sm">
										<div class="thumb-lg avatar inline">
											<img ng-src="{{item.avatar}}" ng-show="item.avatar">
										</div>
									</div>
									<div class="col v-middle h1 font-thin">
										<div ng-hide="item.editing">{{item.first}}</div>
										<div ng-show="item.editing">
											<input type="text" placeholder="First" class="form-control w-auto input-lg m-b-n-xxs font-bold" ng-model="item.first" >
										</div>
									</div>
								</div>
								<!-- fields -->
								<div class="form-horizontal">
									<div class="form-group m-b-sm">
										<label class="col-sm-3 control-label">品牌分类</label>
										<div class="col-sm-9">
											<p class="form-control-static" ng-hide="item.editing">{{item.companyId}}</p>	
											<select class="form-control" ng-show="item.editing" ng-model="item.companyId" >
												<option value='1'>家具</option>
												<option value='2'>厨卫</option>
											</select>
										</div>
									</div>
									<div class="form-group m-b-sm">
										<label class="col-sm-3 control-label">品牌描述</label>
										<div class="col-sm-9">
											<p class="form-control-static" ng-hide="item.editing">{{item.note}}</p>
											<textarea class="form-control" ng-show="item.editing" ng-model="item.note" rows="5"></textarea>
										</div>
									</div>
								</div>
								<!-- / fields -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /column -->
	</div>