<div class="bg-light lter b-b wrapper-md" ui-view>
	<ul class="nav">
		<li style="display: inline-block" ui-sref-active="active" ng-if="isBrandAgent()">
			<a ui-sref="app.brand.profile">
				<span class="font-bold">公司信息</span>
			</a>
		</li>
		<li style="display: inline-block" ui-sref-active="active" ng-if="isBrandAgent() && isApproved()">
			<a ui-sref="app.brand.manage">
				<span class="font-bold">品牌维护</span>
			</a>
		</li>
		<li style="display: inline-block" ui-sref-active="active" ng-if="isBrandAgent() && isApproved()">
			<a ui-sref="app.brand.productSeries">
				<span class="font-bold">产品系列</span>
			</a>
		</li>
		<li style="display: inline-block" ui-sref-active="active" ng-if="isBrandAgent() && isApproved()">
			<a ui-sref="app.brand.sellingCity">
				<span class="font-bold">实体店信息</span>
			</a>
		</li>
		<li style="display: inline-block" ui-sref-active="active" ng-if="isBrandAgent() && isApproved()">
			<a ui-sref="app.brand.expandCity">
				<span class="font-bold">招商城市</span>
			</a>
		</li>
	</ul>
</div>