<div ng-controller="BrandDetailCtrl">
	<div class="bg-light lter b-b wrapper-md" ng-init="app.fullScreen = false;">
		<h1 class="m-n font-thin h3">
			<a ui-sref="app.brand">
				<i class="icon-arrow-left i-sm m-r-sm"></i>
			</a>
			{{brand.name || "Loading..."}}
		</h1>
	</div>
	<div class="wrapper-md">
		<tabset class="tab-container">
			<tab>
				<tab-heading>
					已有店铺
				</tab-heading>
				<!-- column -->
				<div class="col w-lg lt b-r">
					<div class="vbox">
						<div class="row-row">
							<div class="padder" style='height:600px;overflow-y:auto'>
								<div class="list-group">
									<a id="{{city.id}}" ng-repeat="city in brand.selling_cities" class="list-group-item b-l-3x hover-anchor" ng-class="{'hover': city.selected }" ng-click="selectCity(city)">
										<span class="block text-ellipsis">{{ city.name }}</span>
										<small class="text-muted">{{ city.address }}</small>
										<div>
											电话:{{city.phone}}
										</div>
										<div>
											服务:
											<rating ng-model="city.rating.service" readonly="true" max="5" state-on="'fa fa-star text-warning'" state-off="'fa fa-star-o'"></rating>
										</div>
										<div>
											品质:
											<rating ng-model="city.rating.quality" readonly="true" max="5" state-on="'fa fa-star text-warning'" state-off="'fa fa-star-o'"></rating>
										</div>
										<div>
											价格:
											<rating ng-model="city.rating.price" readonly="true" max="5" state-on="'fa fa-star text-warning'" state-off="'fa fa-star-o'"></rating>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /column -->

				<!-- column -->
				<div class="col" style="width:80%">
					<div class="vbox">
						<div class="row-row">
							<div id='baiduMap' style="width:100%; height:600px;"></div>
						</div>
					</div>
				</div>
				<!-- /column -->
			</tab>
			<tab>
				<tab-heading ng-click='openExpandingCity()'>
					招商城市
				</tab-heading>
				<!-- <div class="panel panel-default">
					<div class="panel-heading">
						城市列表
					</div>								
					<div class="table-responsive">
						<table class="table table-striped b-t b-light">
							<tbody>
								<tr ng-repeat="city in brand.expanding_cities">
									<td>{{city}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div> -->
				<!-- column -->
				<div class="col w-lg lt b-r">
					<div class="vbox">
						<div class="row-row">
							<div class="padder" style='height:600px;overflow-y:auto'>
								<div class="list-group">
									<a id="{{expandingCity.id}}" ng-repeat="expandingCity in brand.expanding_cities" class="list-group-item b-l-3x hover-anchor" ng-class="{'hover': expandingCity.selected }" ng-click="selectExpandingCity(expandingCity)">
										<span class="block text-ellipsis">{{ expandingCity.name }}</span>
										<span class="block text-ellipsis">{{ expandingCity.lon }}</span>
										<span class="block text-ellipsis">{{ expandingCity.lat }}</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /column -->

				<!-- column -->
				<div class="col" style="width:80%">
					<div class="vbox">
						<div class="row-row">
							<div id='baiduMapForExpandingCity' style="width:100%; height:600px;"></div>
						</div>
					</div>
				</div>
				<!-- /column -->
			</tab>
			<tab>
				<tab-heading>
					品牌信息
				</tab-heading>
				<form class="form-horizontal" method="get">
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 text-right" >品牌名称</label>
						<div class="col-sm-10">
							<span>{{brand.name}}</span>
						</div>
					</div>
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 text-right" >品牌描述</label>
						<div class="col-sm-10">
							<span>{{brand.description}}</span>
						</div>
					</div>
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 text-right" >品牌网站</label>
						<div class="col-sm-10">
							<span>{{brand.web_site}}</span>
						</div>
					</div>
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 text-right" >品牌电话</label>
						<div class="col-sm-10">
							<span>{{brand.phone}}</span>
						</div>
					</div>
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 text-right" >品牌分类</label>
						<div class="col-sm-10">
							<ul class="list-inline">
								<li ng-repeat="c in brand.category"> {{app.getCategoryText(c)}} </li>
							</ul>
						</div>
					</div>
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 text-right" >品牌风格</label>
						<div class="col-sm-10">
							<ul class="list-inline">
								<li ng-repeat="s in brand.style"> {{app.getStyleText(s)}} </li>
							</ul>
						</div>
					</div>
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 text-right" >品牌材料</label>
						<div class="col-sm-10">
							<ul class="list-inline">
								<li ng-repeat="m in brand.material"> {{app.getMaterialText(m)}} </li>
							</ul>
						</div>
					</div>
				</form>
			</tab>			
			<tab>
				<tab-heading>
					产品系列
				</tab-heading>
				<table class="table" ui-jq="footable" data-page-size="1">
					<thead>
						<tr>
							<td colspan="5" class="text-center">
								<ul class="pagination"></ul>
							</td>
						</tr>
					</thead>
					<tbody>
					<tr ng-repeat="product in brand.productseries_set">
						<td class="col-md-8">
							<table class="table table-striped col-md-8">
								<tr><td>名称: </td><td>{{product.name}}</td></tr>
								<tr>
									<td>类别</td>
									<td>
									{{app.getCategoryText(product.category)}}
									</td>
								</tr>
								<tr>
									<td>材料: </td>
									<td>
										{{app.getMaterialText(product.material_types)}}
									</td>
								</tr>
								<tr>
									<td>风格: </td>
									<td>
										{{app.getStyleText(product.decoration_styles)}}
									</td>
								</tr>

								<tr><td>店铺面积: </td><td>{{product.shop_size}}</td></tr>
								<tr><td>装修成本: </td><td>{{product.deco_cost}}</td></tr>
								<tr><td>货物成本: </td><td>{{product.product_cost}}</td></tr>
								<tr><td>描述: </td><td>{{product.description}}</td></tr>
							</table>

							<hr/>
							<div ng-controller="CarouselCtrl" class="panel b-a" set-ng-animate="false">
								<div class="panel-heading">
									照片
								</div>
								<carousel interval="myInterval">
									<slide ng-repeat="slide in slides" active="slide.active">
										<img ng-src="{{slide.image}}" class="img-full">
										<div class="carousel-caption">
											<h4>系列名称</h4>
											<p>{{slide.description}}</p>
										</div>
									</slide>
								</carousel>
							</div>
						</td>
							<!-- Comments for product Series-->
						<td class="col-md-4">
							<div class="panel col-md-11">
								<ul class="list-group list-group-lg no-bg auto">
									<li class="list-group-item clearfix" ng-repeat='comment in product.comments'>
										<span class="clear">
											<div class="m-b text-lg pull-right">
												<rating ng-model="comment.rating" max="5"
														state-on="'fa fa-star text-warning'" state-off="'fa fa-star-o'" readonly="true"></rating>
											</div>
											<small class="text-muted clear text-ellipsis">({{comment.created_at}}) - {{comment.created_by}}</small>
											<span>{{comment.text}}</span>
										</span>
									</li>
								</ul>
								<div class="clearfix panel-footer">
									<div>发表评论：
										<form>
											<div>
												<textarea class="form-control" rows="4" cols="40" ng-model='newComment.text' placeholder=""></textarea>
											</div>
											<div>
												<rating ng-model="newComment.rating" max="5" state-on="'fa fa-star text-warning'" state-off="'fa fa-star-o'"></rating>
											</div>
											<div>
												<button class="btn btn-default" value='提交' ng-click="addComment(newComment, product)"/>
											</div>
										</form>
									</div>
								</div>
							</div>
						</td>
					</tr>
					</tbody>
				</table>
			</tab>
		</tabset>
	</div>

	<!--view product-->
    <script type="text/ng-template" id="productViewModal.html">
        <div class="modal-header" data-ng-app="app">
            <a class="pull-right" ng-click="cancel()"><i class="fa fa-remove"></i></a>
            <h4 class="modal-title">查看产品系列</h4>
        </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <tr><td>名称: </td><td>{{selectedProduct.name}}</td></tr>
                        <tr><td>类别: </td><td>{{app.getCategoryText(selectedProduct.category)}}</td></tr>
                        <tr><td>材料: </td><td>{{app.getMaterialText(selectedProduct.material_types)}}</td></tr>
                        <tr><td>风格: </td><td>{{app.getStyleText(selectedProduct.decoration_styles)}}</td></tr>
                        <tr><td>店铺面积: </td><td>{{selectedProduct.shop_size}}</td></tr>
                        <tr><td>装修成本: </td><td>{{selectedProduct.deco_cost}}</td></tr>
                        <tr><td>货物成本: </td><td>{{selectedProduct.product_cost}}</td></tr>
                        <tr><td>描述: </td><td>{{selectedProduct.description}}</td></tr>
                    </table>

                    <div ng-controller="CarouselCtrl" class="" set-ng-animate="false">
                        <div class="panel-heading">
                            照片
                        </div>
                        <carousel interval="myInterval">
                            <slide ng-repeat="slide in slides" active="slide.active">
                                <img ng-src="{{slide.image}}" class="img-full">
                                <div class="carousel-caption">
                                    <h4>系列名称</h4>
                                    <p>{{slide.description}}</p>
                                </div>
                            </slide>
                        </carousel>
                    </div>

                </div>
        </div>

        <script src="js/app.js"/>
    </script>
</div>