<div class="hbox hbox-auto-xs hbox-auto-sm fade-in-up" ng-init="app.fullScreen = false;" ui-view>
	<div class="col">
		<div class="wrapper-md">
			<div class="row">
				<div class="col-md-12">
					<div ng-controller="CategoryBrandController">
						<form class="m-b-md">
							<div class="input-group">
								<input type="text" class="form-control input-lg" ng-model="searchKey" placeholder="搜索种类"/>
								<span class="input-group-btn">
									<button class="btn btn-lg btn-dark">
										<i class="fa fa-search"></i> 搜索种类
									</button>
								</span>
							</div>
						</form>

						<div class="row row-sm text-center">
							<div class="col-md-2 col-sm-6 col-xs-12" ng-repeat="categorybrand in categoryResults | filter:searchKey">
								<a ui-sref="{{categorybrand.brandurl}}({id:categorybrand.id})" class="block tile panel padder-v bg-info item">
									<span class="text-white font-thin h2 block">{{categorybrand.categoryName}}</span>
									<span class="bottom text-right w-full">
										<i class="fa fa-bars text-muted m-r-sm"></i>
									</span>
								</a>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>