<div class="wrapper-md" ng-controller="ProfileController">
	<div class="panel panel-default">
		<div class="panel-heading font-bold">基本信息</div>
		<div class="panel-body">
			<form class="form-horizontal" method="get">
				<div class="form-group">
					<label class="col-sm-2 control-label" >账号类型</label>
					<div class="col-sm-10">
						<p class="form-control-static">
							<span ng-if="isAdmin()">管理员</span>
							<span ng-if="isBrandAgent()">品牌公司</span>
							<span ng-if="isSalesAgent()">经销商</span>
						</p>
					</div>
				</div>
				<div ng-if="!isAdmin()">
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group" >
						<label class="col-sm-2 control-label" >账号状态</label>
						<div class="col-sm-10">
							<p class="form-control-static">
								{{getApprovalText()}}
							</p>
						</div>
					</div> 
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label"  translate='profile.USER_NAME'></label>
					<div class="col-sm-10">
						<p class="form-control-static">{{currentUser.username}}</p>
					</div>
				</div>
				<div class="line line-dashed b-b line-lg pull-in"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label">邮箱</label>
					<div class="col-sm-10">
						<p class="form-control-static">{{currentUser.email}}</p>
					</div>
				</div>
				<div ng-if="!isAdmin()">
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label" >所在地</label>
						<div class="col-sm-10">
							<span ng-show="isApproved()">{{currentUser.profile.address}}</span>
							<input ng-show="!isApproved()" type="text" class="form-control" ng-model='currentUser.address'/>
						</div>
					</div>
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label" >电话</label>
						<div class="col-sm-10">
							<span ng-show="isApproved()">{{currentUser.profile.phone}}</span>
							<input ng-show="!isApproved()" type="text" class="form-control" ng-model='currentUser.phone'/>
						</div>
					</div>
					<!-- <div class="line line-dashed b-b line-lg pull-in"></div>
					     <div class="form-group">
					     	<label class="col-sm-2 control-label" translate="profile.BIZ_LISENCE">File input</label>
					     	<div class="col-sm-10">
					     		<input ui-jq="filestyle" type="file" data-icon="false" data-classButton="btn btn-default" data-classInput="form-control inline v-middle input-s">
					     	</div>
					     </div>    -->     
					<div class="line line-dashed b-b line-lg pull-in"></div>
					<div class="form-group" ng-show="!isApproved()">
						<div class="col-sm-4 col-sm-offset-2">
							<button type="submit" class="btn btn-primary">更新待审核信息</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>