<div class="app-header navbar ng-scope">
    <div class="panel panel-default  bg-dark" ng-controller="SigninFormController" ng-init="app.settings.container = false;">
        <div class="panel-body">
            <form class="form-inline pull-right form-validation" role="form" name="form">
                <div class="form-group">
                  <div class="wrapper text-center" ng-show="authError">
                    <strong>{{authError}}</strong>
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" placeholder="用户名" class="form-control" ng-model="credentials.username" required autofocus>
                </div>
                <div class="form-group">
                  <input type="password" placeholder="密码" class="form-control" ng-model="credentials.password" required>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="login(credentials)" ng-disabled='form.$invalid'>登录</button>
            </form>
        </div>
    </div>
</div>
<div class="wrapper-md"></div>
<div class="wrapper-md"></div>
<div class="wrapper-md">
  <div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div set-ng-animate="false" ng-controller="HomeController">
                <carousel interval="intervals">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" class="img-full">
                        <div class="carousel-caption font-bold" style=top:10px;">
                            <h3 class="font-bold; ">{{slide.name}}</h3>
                        </div>
                    </slide>
                </carousel>
            </div>
        </div>
    </div>
    <div class="col-sm-6" ng-controller="SignupFormController" ng-init="app.settings.container = false;">
      <div class="panel panel-default">
        <div class="panel-heading font-bold">新用户注册</div>
        <div class="panel-body">
          <form name="form" class="form-horizontal form-validation">
            <div class="text-danger wrapper text-center" ng-show="authError">
              {{authError}}
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">帐号</label>
              <div class="col-md-8">
                <input type="text" class="form-control" placeholder="帐号" ng-model="userInfo.username">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">密码</label>
              <div class="col-md-8">
                <input type="password" class="form-control" placeholder="密码" ng-model="userInfo.password">
              </div>
            </div>
              <div class="form-group">
                  <label class="col-md-2 control-label">确认</label>
                  <div class="col-md-8">
                      <input type="password" class="form-control" placeholder="重复密码">
                  </div>
              </div>
            <div class="form-group">
              <label class="col-md-2 control-label">邮箱</label>
              <div class="col-md-8">
                <input type="email" class="form-control" placeholder="邮箱" ng-model="userInfo.email">
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-2 control-label">类型</label>
              <div class="col-md-8">
                <select  class="form-control"  ng-model="userInfo.type" ng-options="m.value as m.text for m in app.userType">
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-offset-2 col-md-8">
                <button type="submit" class="btn btn-lg btn-dark btn-block" ng-click="signup(userInfo)" ng-disabled='form.$invalid'>注册</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- app-footer -->
<div class="app-footer wrapper b-t ng-scope btn-dark">
  <span class="pull-right ng-binding">0.0.1 </span>&copy; 2014.
</div>
<!-- app-footer -->